@model Models.Store

@{
    ViewData["Title"] = "Index";


}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<p>@Html.DisplayFor(model => model.Address)</p>
<p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)</p>
<p>@Html.DisplayFor(model => model.Email)</p>


<p>
    <button type="button" class="btn btn-outline-secondary"><a class="text-dark" asp-action="Create" asp-route-storeId="@Model.Id">Create New Product</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdStock)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "Create", "LineItem", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<div>
    <a asp-controller="Store" asp-action="Index">Back to List</a>
</div>