@model Models.Store

@{
    ViewData["Title"] = "Index";
}

           <h1>@Html.DisplayNameFor(model => model.Name)</h1><p>@Html.DisplayNameFor(model => model.Address)</p>
<p>@Html.DisplayNameFor(model => model.City)</p><p>@Html.DisplayNameFor(model => model.State)</p><p>@Html.DisplayNameFor(model => model.Email)</p>
<button type="button" class="btn btn-outline-secondary"><a class="text-dark" asp-controller="Product" asp-action="Create">Create New Product</a></button>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProdStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdStock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
